table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    text-align: center;
}

thead {
    background-color: #1170eb;
    font-size: 0.9em;
    color: white;
}

td {
    padding: 10px 40px;
}

thead > :first-child {
    font-weight: 700;
}

thead > :first-child > :not(:first-child){
    padding-top: 15px;
}

p {
    margin: 0;
    font-size: 0.9em;
}

span {
    font-weight: 700;
    font-size: 1.2em;
    margin: 0;
}

tbody {
    font-size: 0.7em;
    color: #949494;
}

tbody > :nth-child(even) {
    background-color: #e9eaed;
}

.tick {
    font-size: 1.8em;
    color: #60d055;
}

.cross {
    font-size: 1.8em;
    color: #ec3936;
}

tbody > :nth-child(even) > :first-child {
    background-color: #60d055;
    color: white;
}

tbody > :nth-child(odd) > :first-child {
    background-color: #4aa556;
    color: white;
}

.button {
    display: inline-block;
    padding: 5px 15px;
    background-color: #155cb9;
    color: white;
    border-radius: 5px;
}